appnope==0.1.0
bcrypt==3.1.4
blinker==1.4
cffi==1.11.2
click==6.7
decorator==4.1.2
defusedxml==0.5.0
Flask==0.12.2
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.3
flask-jsontools==0.1.1.post0
Flask-Login==0.4.0
Flask-Mail==0.9.1
Flask-OpenID==1.2.5
Flask-SQLAlchemy==2.2
ipython==6.2.1
ipython-genutils==0.2.0
itsdangerous==0.24
jedi==0.11.0
Jinja2==2.10
jsontools==0.1
MarkupSafe==1.0
parso==0.1.0
pexpect==4.2.1
pickleshare==0.7.4
prompt-toolkit==1.0.15
psycopg2==2.7.3.1
ptyprocess==0.5.2
pycparser==2.18
Pygments==2.2.0
python3-openid==3.1.0
simplegeneric==0.8.1
six==1.11.0
SQLAlchemy==1.1.13
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.12.2
